# Python
__pycache__/
*.py[cod]
*.pyc
*.pyd
*.pyo
*.so
.Python
env/
.venv/
venv/

# Database files
*.db
*.sqlite
*.db-journal
/database/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Git
.DS_Store

